<div class="panel panel-primary">
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">TODO neve</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Minden ki kell tölteni.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">TODO prioritása</label>
        <input type="text" class="form-control" formControlName="done" #done />
      </div>
      <div *ngIf="angForm.controls['done'].invalid && (angForm.controls['done'].dirty || angForm.controls['done'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['done'].errors.required">
          Minden ki kell tölteni.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addTodoList(name.value, done.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>

<h3 align="center">Angular ngrx/store Tutorial</h3>
<div class="container">
  <app-display></app-display>
</div>